syntax: glob

cmake-build-debug/**
cmake-build-release/**
out/**
build/**
bin/**
lib/**
.*/.vs/**
working/**
.*\.a$
.*\.so$
.*\.lib$
.*\.pdb$
.*\.exe$
.*\.dll$
.*\.ipch$
.*\.sdf$
.*\.filters$
.*\.user$
.*\.aps$
.*\.tlog$
.*\.res$
.*\.obj$
.*\.lastbuildstate$
.*\.pch$
.*\.log$
.*\.suo$
.*\.idb$
.*\.opensdf$
.*\Browse.VC.db

